.about-section {
  background-image: linear-gradient(to bottom, #114491ff 0%, #212529 90%);
  padding: 60px 50px;
}

.about-title {
  font-family: Arial, sans-serif;
}

.about-text {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.about-image {

  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.custom-list {
  padding-left: 20px;
  margin-bottom: 20px;
}

.custom-list li {
  margin-bottom: 10px;
}
