.milbook-f10-title{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-top: 45px;
    margin-left: 110px;
    
}
.milbook-f10-description{
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    margin-top: 10px;
    margin-right: 210px;
    margin-left: 110px;
    font-size: 20px;
}

p{
    font-size: 16px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
  max-width: 500px;
  padding-left: 20px;
  margin: 0;
}

ul li {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1.2; /* Optional: tighter lines */
  word-wrap: break-word;
}

ul li p {
  margin: 0;
  padding: 0;
}


.button {
  border-radius: 4px;
  background-color: #0C71C3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
    padding: 5px; 
  max-width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

p{
    font-family: Arial, sans-serif;
    font-size: 18px;
}


.animated-line-milbook10 {
  width: 0%;
  height: 4px;
  background-color: #114491ff;
  animation: expandFromCenter 1.2s ease-out forwards;
  justify-content: center;
}

@keyframes expandFromCenter {
  0% {
    width: 0%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  100% {
    width: 80%;
    margin-left: 8%;
    transform: translateX(0);
  }
}

.animated-line-leftlines {
  width: 0%;
  height: 4px;
  background-color: #114491ff;
  animation: expandFromleft 1.2s ease-out forwards;
  justify-content: left;
}

@keyframes expandFromleft {
  0% {
    width: 0%;
    margin-left: 10%;
    transform: translateX(-50%);
  }
  100% {
    width: 90%;
    transform: translateX(0);
  }
}