.captionStyle  {
  backgroundColor: 'rgba(0, 0, 0, 0.5)';
  padding: '1rem';
  borderRadius: '10px';
  backdropFilter: 'blur(5px)';
  color: 'white';
}
.carousel-img {
  height: 500px;
  object-fit: cover;
  filter: brightness(85%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: white;
  border-radius: 50%;
  padding: 20px;
  background-size: 60% 60%;
}

.carousel-indicators [data-bs-target] {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.custom-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backdrop-filter: blur(1px);
  padding: 1rem;
  color: white;
  animation: scaleText 3s ease-in-out infinite alternate;
}

@keyframes scaleText {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.04);
  }
}
.dropdown-hover:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* optional: avoid sliding delay */
}

.dropdown-hover > a {
  color: #0d6efd;
}