.form-wrapper {
  /* background: linear-gradient(to right, #00c6ff, #0072ff); */
  height: 70vh; /* Full screen height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  padding: 20px;
  
}

.contact-form-header {
  text-align: left;
  margin-left: 115px;
    padding: 60px 0 20px ;
    font-family: Arial, sans-serif;
}

h2{
    font-family: Arial, sans-serif;
    font-size: 26px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    
}
.contact-form {
  background: rgb(255, 255, 255);
  padding: 40px 40px;
    border-style: solid;
    border-width: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-color: #12a4b8;
  width: 85%;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

input,
textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: inherit;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #00c6ff;
}

.form-row input {
  flex: 1;
  min-width: 240px;
}

textarea {
  resize: vertical;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

button {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  padding: 12px 28px;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
}
