.navbar-wrapper {
  transition: all 0.3s ease;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar-wrapper.expanded {
  padding: 5px 0;
}

.navbar-wrapper.shrinked {
  padding: 5px 0;
}

.navbar-logo {
  transition: all 0.3s ease;
}

.logo-large {
  width: 160px;
  height: 80px;
}

.logo-small {
  width: 90px;
  height: 40px;
}
.dropdown-title-custom > a {
  font-family: Arial, Helvetica, sans-serif;
  color: #024FA1 !important; /* Bootstrap primary blue */
}

.navbar-text{
  font-family: Arial, Helvetica, sans-serif;
  color: #024FA1 !important; /* Bootstrap primary blue */
}
